/* 背景颜色 */
$bg-common-side: #3a3e4b;

/* 宽度 */
$width-side-bar: 200px;

/* 高度 */
$height-header: 60px;

/* 内边距 */
$padding-common: 10px;

/* 外边距 */

/* 边框 */

/* 主题颜色 */
$primary-color: #14428B;

/* 层级 */
